
include-toplevel: "/etc/unbound/unbound.conf.d/*.conf"

server:
{% for iface in interfaces %}
{% if iface["lan"] == true %}
  interface: {{ iface["name"] }}
{% endif %}
{% endfor %}
{% for network in networks %}
{% if network["lan"] == true %}
  access-control: {{ network["network"] }} allow
{% endif %}
{% endfor %}
{% if ipv6 is defined %}
{% for network in networks6 %}
{% if network["lan"] == true %}
  access-control: {{ network["network"] }} allow
{% endif %}
{% endfor %}
{% endif %}
  unwanted-reply-threshold: 10000000
  harden-referral-path: yes
