
{% for conf in ra %}
interface {{ conf["interface"] }} {
  AdvSendAdvert on;
  AdvManagedFlag off;
  AdvOtherConfigFlag on;

  prefix {{ conf["prefix"] }} {
    AdvOnLink on;
    AdvAutonomous on;
  };

{% if "dns" in conf %}
  RDNSS {{ conf["dns"] }} {
  };
{% endif %}
};
{% endfor %}
