{
    "Dhcp6": {
        "interfaces-config": {
            "interfaces": [
{% for iface in dhcp6["interfaces"] %}
                "{{ iface }}"{% if not loop.last -%},{% endif +%}
{% endfor %}
            ]
        },
        "control-socket": {
            "socket-type": "unix",
            "socket-name": "/var/run/kea/kea6-ctrl-socket"
        },
        "lease-database": {
            "type": "memfile",
            "lfc-interval": 3600
        },
        "expired-leases-processing": {
            "reclaim-timer-wait-time": 10,
            "flush-reclaimed-timer-wait-time": 25,
            "hold-reclaimed-time": 3600,
            "max-reclaim-leases": 100,
            "max-reclaim-time": 250,
            "unwarned-reclaim-cycles": 5
        },
        "valid-lifetime": 14400,
        "subnet6": [
            {
{% for subnet in dhcp6["subnets"] %}
                "subnet": "{{ subnet["subnet"] }}",
                "pools": [
{% for pool in subnet["pools"] %}
                    {
                        "pool": "{{ pool }}"
                    }{% if not loop.last %},{% endif +%}
{% endfor %}
                ],
                "option-data": [
{% for data in subnet["option-data"] %}
                    {
                        "name": "{{ data["name"] }}",
                        "data": "{{ data["data"] }}"
                    }{% if not loop.last %},{% endif +%}
{% endfor %}
                ]
            }{% if not loop.last -%},{% endif +%}
{% endfor %}
        ],
        "loggers": [
            {
                "name": "kea-dhcp6",
                "output_options": [
                    {
                        "output": "/var/log/kea-dhcp6.log"
                    }
                ],
                "severity": "INFO",
                "debuglevel": 0
            }
        ]
    }
}
